name: Test Supabase Upload

on:
  push:
    branches: master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Show system
        shell: bash
        run: |
          ls -a
          pwd
      - name: Set MY_DATE environment variable
        run: echo "MY_DATE=$(date +%Y_%m_%d_%H_%M)" >> $GITHUB_ENV
      - name: Supabase upload
        uses: ./
        with:
          EMAIL: "github@waspscripts.com"
          PASSWORD: ${{ secrets.SB_USER_PASSWORD }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          BUCKET: "test2"
          TARGET_PATH: "test/"
          ORIGIN_PATH: "*.simba"
